<!--Header section-->
<header class="header">
  <div class="header-container container">
    <div class="header-logo">
      <svg class="header-icon-logo" width="16" height="18">
        <use href="./img/icons.svg#icon-logo"></use>
      </svg>
      <a class="header-link-logo" href="./index.html"> Yacht Adventures </a>
    </div>
    <nav class="header-nav">
      <ul class="header-list">
        <li class="header-item">
          <a href="#about" class="header-nav-link">About</a>
        </li>
        <li class="header-item">
          <a href="#yachts" class="header-nav-link">Yachts</a>
        </li>
        <li class="header-item">
          <a href="#reviews" class="header-nav-link">Reviews</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
