<section class="hero-section">
    <div class="hero-container">
        <h1 class="hero-title">Explore the High Seas with <span class="luxury-text">Our Luxury Yacht Rentals</span>
        </h1>
        <p class="hero-text">Experience the freedom and luxury of yachting on the open seas. Choose from our
            top-of-the-line yachts and embark on an
            unforgettable journey surrounded by breathtaking views and state-of-the-art amenities.</p>
        <button type="button" class="bttn-get-started">Get Started</button>
        <button type="button" class="bttn-explore">Explore</button>

    </div>
    <div class="hero-owner-block">

    </div>
</section>