<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="reviews">
      <div class="container">
        <h3 class="reviews-title">
          Yacht Adventures take pride in providing the best possible service and
          experience to our customers
        </h3>

        <p class="reviews-customers">
          Our customers have enjoyed unforgettable moments on our yachts. Don't
          just take our word for it - read on to find out what they have to say
          about their journey with us.
        </p>
        <ul class="customers list">
          <li class="customers-item list">
            <div class="customers-card">
              <img
                class="customers-card-img"
                srcset="
                  ../img/reviews/client1-mob@1x.png 1x,
                  ../img/reviews/client1-mob@2x.png 2x
                "
                src="../img/reviews/client1-mob@1x.png"
                alt="client1"
                width="48"
              />
              <p class="customers-name"></p>
              <p class="customers-review"></p>
            </div>
          </li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </section>
  </body>
</html>
