<!-- Yahts section VadymK17 -->
<section class="yahts section">

    <div class="container">
        <div class="div-yahts-title">
            <h2 class="yahts-title">Choose your dream yacht and sail away into the sunset</h2>
            <a class="yahts-link" href="#">
                <button class="yacht-button" type="button">Yacht rental</button>
            </a>
        </div>
         <div class="div-yahts">
            <button class="swiper" type="button"></button>
             <ul class="yahts-list">
                <li class="yahts-item">
                    <img class="yahts-img" src="../img/yahts/yaht1-desk@1x.png" alt="Arrow yaht" width="322" height="268">
                    <div class="yahts-item-description">
                        <p class="yahts-item-description-title">Arrow <span class="yahts-item-description-title-span">LUXURY YAHTS</span></p>
                        <div class="yahts-item-description-div">
                            <ul class="yahts-list-left">
                                <li class="yahts-item-description-left">LENGTH</li>
                                <li class="yahts-item-description-left">BUILDER</li>
                                <li class="yahts-item-description-left">BUILT</li>
                                <li class="yahts-item-description-left">GUESTS</li>
                                <li class="yahts-item-description-left">PRICE</li>
                            </ul>
                            <ul class="yahts-list-right">
                                <li class="yahts-item-description-right">48m(155ft)</li>
                                <li class="yahts-item-description-right">Admiral</li>
                                <li class="yahts-item-description-right">2021</li>
                                <li class="yahts-item-description-right">11 in 5 cabins</li>
                                <li class="yahts-item-description-right">€33,500,000</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="yahts-item">
                    <img class="yahts-img" src="../img/yahts/yaht2-desk@1x.png" alt="BENETTI OASIS 40M BO122 yaht" width="322" height="268">
                    <div class="yahts-item-description">
                        <p class="yahts-item-description-title">BENETTI OASIS 40M...
                            <span class="yahts-item-description-title-span">LUXURY YAHTS</span>
                        </p>
                       
                        <div class="yahts-item-description-div">
                            <ul class="yahts-list-left">
                                <li class="yahts-item-description-left">LENGTH</li>
                                <li class="yahts-item-description-left">BUILDER</li>
                                <li class="yahts-item-description-left">BUILT</li>
                                <li class="yahts-item-description-left">GUESTS</li>
                                <li class="yahts-item-description-left">PRICE</li>
                            </ul>
                            <ul class="yahts-list-right">
                                <li class="yahts-item-description-right">41m (133ft)</li>
                                <li class="yahts-item-description-right">Benetti</li>
                                <li class="yahts-item-description-right">2025</li>
                                <li class="yahts-item-description-right">10 in 5 cabins</li>
                                <li class="yahts-item-description-right">€23,210,000</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="yahts-item">
                    <img class="yahts-img" src="../img/yahts/yaht3-desk@1x.png" alt="BELLE ANNA yaht" width="322" height="268">
                    <div class="yahts-item-description">
                        <p class="yahts-item-description-title">BELLE ANNA 
                            <span class="yahts-item-description-title-span">LUXURY YAHTS</span>
                        </p>
                        <div class="yahts-item-description-div">
                            <ul class="yahts-list-left">
                                <li class="yahts-item-description-left">LENGTH</li>
                                <li class="yahts-item-description-left">BUILDER</li>
                                <li class="yahts-item-description-left">BUILT</li>
                                <li class="yahts-item-description-left">GUESTS</li>
                                <li class="yahts-item-description-left">PRICE</li>
                            </ul>
                            <ul class="yahts-list-right">
                                <li class="yahts-item-description-right">50m(155ft) </li>
                                <li class="yahts-item-description-right">ISA</li>
                                <li class="yahts-item-description-right">2012</li>
                                <li class="yahts-item-description-right">12 in 6 cabins</li>
                                <li class="yahts-item-description-right">€21,000,000</li>
                            </ul>
         </div>
                    </div>
                </div>
            </li>
         </ul>
    </div>

</section>