.about {
    margin-top: 80px;
}
@media screen and (min-width: 768px) {
    .about {
        margin-top: 100px;
    }
}

@media screen and (min-width: 1280px) {
    .about {
        margin-top: 164px;
    }
}
.about-content{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
@media screen and (min-width: 768px) {
    .about-content{
        gap: 32px;
    }
}
@media screen and (min-width: 1280px) {
    .about-content{
        flex-direction: row;
        justify-content: space-between;
    }
}

.about-content-p {
    max-width: 335px;
    color: #F6F5EF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -1.08px;   
}
@media screen and (min-width: 768px) {
    .about-content-p {
        max-width: 514px;
        font-size: 32px;
    }
}

.about-content-p-accent{
    font-style: italic;
    background: linear-gradient(107deg, #BEC7C2 0%, #A1B5BA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.about-content-ul {
    display: flex;
    gap: 14px;
    margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
    .about-content-ul {
        gap: 32px;
        align-self: flex-end;
        margin-bottom: 64px;
    }
}

.about-content-li {
    width: 160px;
    color: #F6F5EF;
    font-size: 14px;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: -0.28px;
}
.about-imgs {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.about-imgs-item {
    max-width: 335px;
}
.about-imgs-item:last-child {
    align-self: flex-end;
}
@media screen and (max-width: 375px) {
    .about-imgs-item {
        max-width: 100%;
    }
}
.hero{
    background: var(--title-color);
    padding: 112px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero/bg_mob@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px; 
}
/* Mobile screen  retina */
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero/bg_mob@2x.jpg');
      background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
/* Tablet screen */
@media only screen and (min-width: 481px) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero/bg_tab@1x.jpg');
      background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    /* Retina*/
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero/bg_tab@2x.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
}
/* Desk screen */
@media only screen and (min-width: 769px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero/bg_desc@1x.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-top: 112px;
        padding-bottom: 112px;
    }
    /* Retina*/
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero/bg_desc@2x.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
}