.header {}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 320px;
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid red;
    }

@media screen and (min-width: 768px) {
    .header-container {
        max-width: 768px;
    }
}

@media only screen and (min-width: 1280px) {
    .header-container {
        max-width: 1280px;
    }
}
.header-logo {
    display: flex;
    align-items: center;
    gap: 8px;
}
.header-link-logo {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    color: #F6F5EF;
    text-decoration: none;
    padding-top: 28px;
    padding-bottom: 28px;
}
@media only screen and (min-width: 768px) {
.header-link-logo {
    font-size: 18px;
    line-height: 1.18;
    letter-spacing: 0.54px;
    padding-top: 33px;
    padding-bottom: 33px;
}
}
.header-icon-logo {
    fill: white;
}
@media only screen and (min-width: 768px) {
    .header-icon-logo {
        width: 32px;
        height: 32px;
    }
}
.header-nav {}


.header-list {
    display: flex;
    gap: 24px;
    padding: 0;
}
@media screen and (max-width: 767.98px) {
    .header-list {
        display: none;
    }
}
.header-item {}

.header-nav-link {
    color: #F6F5EF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.18;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    text-decoration: none;
}