:root {
--dark-blue: #11131F;
}

/* from 6 HW */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    color: var(--content-color);
    background-color: #11131F;
}

main {
    flex-grow: 1;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    display: block;
}

.container {
    min-width: 320px;
    max-width: 396px;
    padding: 0 16px;
    margin: 0 auto;
}

/* Tablet screen */

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* Desk screen */

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}


.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* from 6 HW */
.container {}

.reviews-title {
    width: 335px;
    font-family: DM Sans;
        font-size: 24px;
        font-style: italic;
        font-weight: 500;
        line-height: 1.2;
        /* 28.8px */
        letter-spacing: -1.08px;
        background: var(--linear-green, linear-gradient(107deg, #BEC7C2 0%, #A1B5BA 100%));
            background-clip: text;
}

.reviews-customers {
    width: 335px;
        color: var(--white, #F6F5EF);
        font-family: DM Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.4;
        /* 19.6px */
        letter-spacing: -0.28px;
}

.customers {}

.list {}

.customers-item {}

.customers-card {}

.customers-card-img {
    /* position: relative; */
    
}

.customers-name {
    color: var(--white, #F6F5EF);
        text-align: center;
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.1;
        /* 17.6px */
        letter-spacing: -0.72px;
}

.customers-review {
    width: 300px;
        color: rgba(246, 245, 239, 0.50);
        text-align: center;
        font-family: DM Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.4;
        /* 16.8px */
        letter-spacing: -0.24px;
}


/*
  |============================
  | Section reviews
  |============================
*/

.reviews {
    display: none;
    background-color: var(--dark-blue, #11131F);
}

/* Desk screen */
@media only screen and (min-width: 1158px) {
    .reviews {
        display: initial;
    }

    .customers {
        display: flex;
        gap: 24px;
        padding-bottom: 120px;
    }

    .customers-item {
        width: calc((100% - 48px) / 3);
        justify-content: center;

    }
}