/* Services styles */

.services {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media only screen and (min-width: 768px) {
  .services {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media only screen and (min-width: 1280px) {
  .services {
    padding-top: 164px;
    padding-bottom: 164px;
  }
}

.services-title {
}

.services-list {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
  gap: 20px;
}

@media only screen and (min-width: 768px) {
  .services-list {
    flex-wrap: wrap;
    gap: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .services-list {
    flex-direction: row;
    /* gap: 64px; */
    row-gap: 64px;
    column-gap: 64px;
  }
}

@media only screen and (min-width: 768px) {
  .item-two {
    align-self: flex-end;
  }
}

@media only screen and (min-width: 1280px) {
  .item-one {
    align-self: flex-start;
  }
}

@media only screen and (min-width: 1280px) {
  .item-two {
    align-self: flex-start;
  }
}

@media only screen and (min-width: 768px) {
  .item-three {
    align-self: flex-start;
    padding-left: 64px;
  }
}

@media only screen and (min-width: 1280px) {
  .item-three {
    align-self: center;
    padding-left: 0;
  }
}

.services-wrapper {
  position: relative;
}
.services-img {
  /* max-width: 100%;
  height: auto; */
  margin: 0 auto;
  border-radius: 40px;
  background: linear-gradient(
    0deg,
    rgba(17, 19, 31, 0.2) 0%,
    rgba(17, 19, 31, 0.2) 100%
  );
  /* url(../img/services/diving-mob@1x.png), lightgray -15.688px -136.978px / 138.209% 164.622% no-repeat; */
}
.services-subtitle {
  position: absolute;
  bottom: 24px;
  left: 24px;

  display: inline-flex;
  padding: 14px 28px;
  align-items: flex-start;
  gap: 10px;

  font-size: 14px;
  color: #11131f;
  font-weight: 700;
  line-height: 15.4px;
  letter-spacing: -0.63px;

  border-radius: 60px;
  background-color: #f6f5ef;
}

@media only screen and (min-width: 768px) {
  .services-subtitle {
    bottom: 32px;
    left: 32px;
    font-size: 18px;
    line-height: 19.8px;
    letter-spacing: -0.81px;
  }
}
